{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
    <body>
        <div>
            <img width="1500" height="500"  src="{{ url_for('static', filename='cloudservices/Cloud_services1.png') }}">
        </div>
    </body>
<p> Cloud is one of the most significant areas of tech spend across industries.Yet capturing real-time values and transformation into cloud remains challenging.
Moving to the cloud isn't just about migration of the data but about infrastructure and managing it. </p>
<h2> What are managed cloud services? </h2>
<p> Managed cloud services offer partial or complete management of a client’s cloud resources/infrastructure. With cloud managed services an organisation can ensure all its cloud resources are running </p>

<h2> What does managed cloud services include? </h2>
<p> Management responsibilities can include from configuration, optimisation, security, migration, to maintenance. By opting for cloud managed services it helps to  focus on more complex initiatives and efforts that drive new business outcomes.</p>
<h2> Why choose Cloud Managed Services? </h2>
<p> Centralised Control </p>
<p> Auto Upgrades </p>
<p> Disaster Recovery </p>
<p> Reliable Infrastructure </p>
<p> Network Security </p>
<p> Rapid Response Time </p>
<p> Cost Optimisation </p>
<h2> Benefits of Managed Cloud Services </h2>
    <body>
        <div>
            <img width="600" height="500"  src="{{ url_for('static', filename='cloudservices/Cloud_services2.png') }}">
        </div>
    </body>
<h2> How BigCloudOps can help you </h2>
<p> We help you in identifying the Major Roadblocks in your cloud transformation journey.You can access managed cloud services for public, private, and hybrid clouds at any point in the cloud adoption lifecycle. Our Managed cloud services help in modernising your IT on cloud with our AIOps-powered End-to-end cloud managed services and Governance. </p>
    <body>
        <div>
            <img width="600" height="500"  src="{{ url_for('static', filename='cloudservices/Cloud_services3.png') }}">
        </div>
    </body>

{% endblock %}
