{% extends "base.html" %} {% block title %}Automation -BigCloudOps{% endblock %} {% block content%}
<style>
h3 {
  display: block;
  font-size: 1.47em;
  margin-top: 2.33em;
  margin-left: .8em;
  margin-right: 0;
  font-weight: bold;
  font-style: oblique;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  display: block;
  font-size: 1.27em;
  margin-left: .8em;
  margin-right: 1;
  margin-top: .8em;
  color: black;
}
.servcies-offered {
  display: block;
  font-size: 1.17em;
  margin-left: 1.8em;
  margin-bottom: 0.33em;
  margin-right: 0;
  font-style: oblique;
  color: green;
  font-family: Fantasy;
}
.img-automation{
    margin-right: 3.8em;
}
.img-tools{
    margin-left: .8em;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px;
}

</style>

<div class="srvbigdata">
    <img src="{{ url_for('static', filename='services/srv-automation.jpg') }}" class="img-automation" width="1500px" height="390vh">
</div>

<div class="srvaiml-into">
    <h3>Automation applied to an efficient operation will magnify the efficiency</h3>
</div>

<div class="float-container">
    <div class="float-child green">
        <h4>Services offered</h4>
        <ul>
        <li>CI/CD Automation</li>
        <li>RPA</li>
        <li>SAP</li>
        <li>Infrastructure/OS</li>
        </ul>
    </div>
    <div class="float-child blue">
        <h5>Tools & Techonologies</h5>
        <img src="{{ url_for('static', filename='services/automation-tools.png') }}" class="img-tools" width="502px" height="390vh"></img>
    </div>
</div>
<br />
<div class="connectwithus">
    <a href="/contact-us"><button type="button" class="btn btn-info" value="Reset">Connect with Us</button></a>
</div>
<br />

{% endblock %}